.conten-edit{ 
    width: 100%;   
    background-image: url('../images/fondo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    height: 87vh;
}

.edituser{     
    color: rgb(10, 15, 71); 
    display: block;
    font-weight: 900;
    

}
.tituloedit{
    color: rgb(218, 218, 218);
    margin: 0px;
    padding: 2%;
    text-align: center;
    font-size: 50px;
}

.label-edit{
    font-size: 25px;
    text-align: left;
    display: block;
    padding: 1.2%; 
    margin-left: 60%;
    margin-top: 0px;
}
.label-edit input{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #251313; 
    padding: 10px;    
    width: 75%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: #207ce5;
    border-bottom: 2px solid  #f5f1f1;
}

.button-edit{
    display: block;  
    padding: 2.5px 10px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(3, 3, 3);    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 30px ;
    text-decoration: none; 
}

.button-edit:hover{
    color: rgb(58, 3, 2); 
    font-size: 1.8em;  
}
