
@font-face{
    font-family: BLOODSUC;
    src: url(../fuentes/BLOODSUC.TTF)
}
.home{
    width: 100%;
}

body{   
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.clearfix{
clear: both;
float: none;
}

.main {    
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-error{
    background-color: white;
    height: 87vh;
}

.item-body {   
    width: 50%; 
    font-family: 'BLOODSUC';
    font-size: 1600%;
    color: rgb(73, 6, 6);      
    animation: aparecetexto 3s; 
    position: relative;          
}

.img1 {
    background-repeat:no-repeat;
    background-size: cover;
    animation: apareceimagen 9s; 
    position: fixed;    
    justify-content: center; 
    height: 90vh;  
    width: 100%;  
}

@keyframes aparecetexto {
    0% {font-size: 0px;}
    30%{font-size: 0px;}
}

@keyframes apareceimagen {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}  

.main-error p{
text-align: center;
}
.conten-game {
    padding: 20px;     
    display: grid;
    gap: 20px;
    margin: 10px;
    grid-template-areas: "juego juego ";
}

.juego { 
    display: grid;
    width: 100%;
    height: 45vh;
    grid-template-columns: 1fr;
    margin-right: auto;  
}  

.juego img{    
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    min-width: 300px;
    min-height: 300px;
    max-height: 250px;
    border-radius: 100px ;
}

.main-select{
    background-image: url('../images/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vh;
}

h1.select-game{
    margin: 0px;    
    font-weight: 800;
    font-size: 300%;
    padding: 40px; 
    color: white;
    text-transform:capitalize ;
    text-align: center;
} 

.boton-game{
    text-align: center;
    display: block;  
    padding: 2.5px 10px;
    color: rgb(43, 37, 37);
    font-size: 1.3em;
    font-weight: 900;
    width: 170px;
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(214, 202, 202);    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 30px ;
    text-decoration: none;  
}

.boton-game:hover {
    color:rgb(251, 250, 252);
    background-color: rgb(7, 7, 56); 
    font-size:1.2em; 
    border: 2px solid rgb(209, 209, 230);     
} 

@media screen and (max-width: 800px){
    .img1{
        height: auto;
    }
    .item-body {   
        
        font-size: 100px;               
    }    
}

@media screen and (max-width: 1100px){
    .conten-game {        
        grid-template-areas: "juego""juego";

    }
  
}
