
.contenedor-rank {
    display: grid;
    width: 100%;
    height: 87vh;         
    background-image: url(../images/fondo5.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;   
    grid-template-areas: "ranking score"; 
}
.tabla-rank {   
    padding: 10px;
    width: 55%;
    text-transform: capitalize;
    font-size: 30px; 
    font-weight: 900;
    color: lavenderblush;
    margin-left: auto;
    margin-right: auto;
}

.ranking, .score {
    padding: 20px;
    font-weight: 900;
    color: rgb(153, 8, 56);
    font-size: 35px;
 }
 .data-rank {
    font-size: 25px; 
    background-color: rgba(0, 0, 0, 0.5)
 }

@media screen and (max-width: 800px){
    .contenedor-rank {  
        grid-template-areas: "ranking""score"
    }    
}



