
.contenedor{
    color: white;
    background-image: url(../images/game3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(94, 92, 92);
    width: 100%;
    height: 87.5vh;
}

.datos{
    grid-area: datos;
    font-size: 35px;
    color: rgb(253, 253, 252);
    background-color: rgba(0, 0, 0, 0.7);
    height: 270px;
    width: 550px;

    font-weight: 600;    
} 
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "avatar avatar datos datos" "avatar avatar datos datos" "avatar avatar datos datos";
}
.user{
    
    padding: 20px;
}
.cumpleaños{
    padding: 20px;
}
.email{
    padding: 20px;   
}

.avatar img{
    
    float: right;
    width: 300px;
    height: 300px;
    display: block;
    border: 1px solid black;
    margin: 10px 30px;
    border-radius: 30px;
    margin-left: 200px;
    
  
}

h2{
    text-transform: capitalize;
    text-align: center;
    font-size: 65px;
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 0px;
    font-weight: 600;
}




